.main-container {
  overflow-x: scroll;
}

.jp-container {
  height: 200vh;
  width: 5000px;
}

.toolsPalette {
  position: fixed;
  left: 30px;
  top: 90px;
  z-index: 100;
}

.ui.dimmer {
  width: 100vw;
  height: 100vh;
}