.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

.jp-container {
    position: relative;
}

.jp-draggable {
    position: absolute !important;
}